<!DOCTYPE html>
<head>
<%- static_header.text %>
</head>
<body>
<h1>Landing page</h1>
Welcome to my humble page! Check out some of my posts below!
<br>
<div>
    <!-- links to every post in database! -->
    <% posts.forEach(post => { %>
    <a class="post-link" href="/post?file_id=<%= post.post_hash %>"><%= post.title %></a><br>
    <% }) %>
</div>

</body>
</html>
