body {
    max-width: 800px;
    margin: auto;
    font-family: Noto Sans, sans-serif ;
    font-weight: normal;
    font-size: 18px;
    
    color: #494949 ;
    background-image: none;
    background-color: white ;
}

a {
    color: #61769e;
}

a:visited {
    color: #59a689;
}

a:hover {
    background-color: #61769e;
    color: white;
    text-decoration: none;
}

a:visited:hover {
    background-color: #59a689;
    color: white;
}
